html {
    width:100%;
    margin:0px;
    
}
.main {
    display: grid;
    grid-template-rows: 50px 360px 1fr 50px ;
    background-image: url('../images//laptop.jpg'),linear-gradient(to left top , rgb(175, 190, 175),red) ;
    background-repeat: no-repeat;
    background-size: 100% 80% , cover;
    background-blend-mode: darken ,screen ;  
    background-position: top ,bottom; 
    grid-template-columns: 100vw;
}
.header {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background:linear-gradient(to right ,rgb(1, 78, 1),green);
    box-shadow: 7px 7px 8px  honeydew;
    height: 30px;
}
.header a {
    color:honeydew;
}
.header a:hover {
    font-size:larger ;
    font-weight: 700;
    text-shadow: 0.3px 0.4px 0.4px wheat;
    transition: 0.5s;

}
.body {
    display: grid;
    grid-template-rows: repeat(3,100vh);
    grid-template-columns: 100vw;
}
br {
    border-radius: 5px bold wheat;
}
.container {
    display:grid;
    grid-template-columns: 0.5fr 1fr ;

}
.image{
    width:200px;
    height: 200px;
    border-radius: 30px;
    box-shadow: 5px 6px 6px grey;
    margin-left: 30px;
    margin-top: 20px;
}
.detail {
    display:flex;
    flex-direction: row;
    font-size: x-large;
    color: honeydew;
    font-weight: 600;
    justify-content: center;
    text-align: center;
}
.rain{
    width:20px;
    height:20px;
    border-radius:50px;
    z-index:5;
    opacity:0.7;
    position: absolute;
    animation: raining 1s cubic-bezier(0.47, 0, 0.745, 0.715) forwards ;
}
@keyframes raining {
    from {
        position: absolute;
    }
    to{
        position: relative;
        top:-120vh;
        
    }
}

.me {
    display:flex;
    flex-direction: column;
    font-size: large;
    color:honeydew ;
    background: linear-gradient(to left ,black ,rgb(136, 133, 133));
    border-radius: 40px;
    position: relative;
}
#me {
    width:250px;
    height: 250px;
    border-radius: 40px;
}
.meUp{
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: large;
    position: relative;
}
.meDown {
    height: 160px;
    flex-direction: column;
    font-size: 1.5rem;
    color:honeydew;
    display:flex;
    text-align: center;
    align-items: center;
 
}
.wise {
    display:none;
    animation:wise 2s ease forwards  ;
    opacity:0.3;
}
.wise span {
    animation:1s  linear alternate 5;
    display:block;
}
@keyframes wise {
    0% {
        opacity:0.3
    }
    35%{
        opacity:0.6
    }
    80%{
        opacity:0.8
    }
    100% {
        opacity: 1;
    }
}
@keyframes beat {
    from {
        transform: scale3d(1,1,1);
    }
    to {
        transform: scale3d(1.5,1.5,1.5);
        color:green;
    }
}


 .myName{
     display:inline-block;
     visibility: hidden ;
     transform:translateX(10px);
     font-size: 3.5rem;
     text-shadow: 3px 3px 3px rgb(88, 84, 84);
     animation: 1.5s forwards 1s linear;
 
 }
 @keyframes colorMe {
     from{
         color: rgb(53, 52, 52,0.5);
     }
     to{
         color:honeydew;
    }
 }
 .bubbles{
     display:block;
     width:20px;
     height:20px;
     border-radius: 50px;
     position: absolute;
    z-index: 5;
   bottom:-5px;
     animation: bubbles 4s ease-out forwards 1 ;
     opacity: 0.4;
 }
 @keyframes bubbles {
     
     to {
         bottom:298px;
         visibility: hidden;
     }
 }
.about {
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to top ,black,white );
    font-size: large;
    font-weight: bold;
    height: 100vh;
    border-radius: 20px;
}
#footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  align-items: center;
    border-radius: 30px;
    background:linear-gradient(to right ,rgb(1, 78, 1),green);
    box-shadow: 7px 7px 8px  honeydew;
    height: 30px;
    grid-row:4/4;
    color:white;
}
/* #################################3 IPad ViEW ####################### */

@media only screen and (max-width:900px) and (min-width:420px){
    .myName {
        font-size: medium;
    }
}


/*      ###############################  MOBILE VIEW #######################   */


@media only screen and (max-width:420px) and (min-width:300px){
   
    .main {
        display: grid;
        grid-template-rows: 50px 360px 1fr 50px ;
        background-image: url('../images//laptop.jpg'),linear-gradient(to left top , green,red) ;
        background-repeat: no-repeat;
        background-size: 100% 80% , cover;
        background-blend-mode: darken ,screen ;  
        background-position: top ,bottom; 
        width:98vw;
    }
    .header {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 30px;
        background:linear-gradient(to right ,rgb(1, 78, 1),green);
        box-shadow: 7px 7px 8px  honeydew;
        height: 30px;
        width:96vw;
    }
    .body {
        display: grid;
        grid-template-rows: repeat(3,100vh);
    }
    .me {
        width:97vw
    }
    #me{
        width: 150px;
        height: 150px;
        opacity: 0.2;
        animation: Me 1s ease-in-out 5s forwards  ;
       
    }
@keyframes Me {
    0%{
        opacity: 0.2;
    }
    25%{
        opacity:0.7 ;
    }
    50% {
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(0deg);
        opacity: 1;
    }
    
}
.meUp {
    font-size: small;
}
.meDown {
    font-size:medium;
}
    .myName {
        font-size:small;
    }
   
   
  .about {
      font-size: medium;
  }
}
/* ############################# small view ##############3 /*/
@media only screen  and (max-width:300px) {
    #me {
        width:100px;
        height: 100px;
    }
    .me {
        font-size: smaller;
    }
   .myName{
       font-size: smaller;
   }
}
