.section {
    position: relative;
    margin-bottom: 10px;
   box-shadow:5px 5px 5px rgb(151, 144, 130,0.4) ;
   width:100vw
    
}
.gate{
    position: absolute;
    top: 3px;;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100vh;
    width:100vw;
}

.gate1 {
    z-index: 1;
    box-shadow: 5px 6px 7px rgb(90, 88, 88);
   transform-origin: top;
  border-bottom-left-radius:60px;
  border-bottom-right-radius:60px;
  border:1mm solid black;
  height: 50%;
 
}
.gate2{
    z-index: 1;
    box-shadow: 5px 6px 7px rgb(90, 88, 88);
    transform-origin: bottom;
    border-top-left-radius:60px;
    border-top-right-radius:60px;
    height: 49%;
}
.csGate{
    position: absolute;
    top: 3px;;
    display: flex;
    flex-direction: column;
   
    height: 100vh;
    width:100vw;
}
.csGate1 {
    z-index: 0;
    box-shadow: 5px 6px 7px rgb(90, 88, 88);
   transform-origin: top;
  border-bottom-left-radius:60px;
  border-bottom-right-radius:60px;
  border:1mm solid black;
  height: 49%;
 
}
.csGate2{
    z-index: 0;
    box-shadow: 5px 6px 7px rgb(90, 88, 88);
    transform-origin: bottom;
    border-top-left-radius:60px;
    border-top-right-radius:60px;
    height: 49%;
}
.container {
    display :grid;
    grid-template-columns:0.2fr 1fr;
    grid-template-rows:  0.1fr 1fr;
    height: 100%;

}
.description {
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    font-size: larger;
    color: white;
    text-align: center;
    justify-content: center;
}
.showImg {
    display:none
}
.description p {
    margin:0px;
    margin-block-start: 0px;
    margin-block-end:0px ;
}
.slideBtn {
    display:flex;
    width:fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5px;
    border:solid 3px 3px white;
    box-shadow: 3px 2px 2px black;
    border-radius: 39px;
    background-color: grey;
}
.switchBtn {
    border-radius: 50px;
    width:fit-content;
    box-shadow: 3px 4px 4px wheat;
    color:black;
    font-size: large;
    font-weight: bold;
    text-shadow: 3px 3px 4px white;
    border-radius: 39px;
    animation:  1s linear  1 forwards ;
}
.placeholderBtn {
    opacity: 0.8;
   font-size: medium;
   font-weight: lighter;
   width:fit-content;
   color:wheat;
   border-radius: 39px;
   background-color: grey;
   border-color: transparent;

}
@keyframes switchLeft {
    
    90%{
        transform: translateX(20px);
        

    }
}
.descriptionTitle{
    font-size: larger;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 4px 4px 5px rgb(56, 56, 55);
}
.curtain {
    display:flex;
    grid-row:1/1;
    grid-column: 2/2;
    width:97%;
    align-items: center;
    
    border-radius: 40px;
    flex-direction: column;
    animation: 1s cubic-bezier(0.075, 0.82, 0.165, 1)  1 forwards;
    font-size: 1rem;
}

.flag {
    width:fit-content;
    border-radius: 10px;
    font-size: large;
    font-weight: bolder;

    animation: flagGlow 1s linear  infinite alternate-reverse ;

}
@keyframes flagGlow {
    from {
        background: linear-gradient(to right,rgb(145, 145, 64,0.5),transparent);
    }
    to {
        background: linear-gradient(to left,rgb(145, 145, 64),transparent);
    }
}
.sideBtnImg {

    width:100px;
    height: 100px;
    transform: rotateZ(180deg);
    
    border-radius: 30px;
}
.sideBtnImg:hover {
   
    box-shadow: 3px 4px 5px grey;
}
.album{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
 transform-style: preserve-3d;
 grid-column: 1/3;
 grid-row:2/2
 
}
#albumItem ,#albumItem5,#albumItem9{
    z-index: 4;
    width: 450px;
    height:400px;
    box-shadow: 5px 5px 6px grey;
    border-radius: 7px;
 
    position: relative;
   
}
.albumItem{
   
    width: 150px;
    height:150px;
    opacity: 0.7;
    border-radius: 7px;
}


.detailLinks{
    display:flex;
    flex-direction: row;
    grid-column:1/3;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  
}
.iframeAttr {
    width:700px;
    height: 350px;
    border-radius: 10px;
}
.exLinks {
    display:flex;
    flex-direction: column;
    justify-items: center;
    font-size: larger;
    font-weight: bolder;
    color: wheat;
}
.exLinksImg {
    width:150px;
    height: 150px;
    border-radius: 40px;
    box-shadow: 3px 4px 4px gray;
}
.popUp {
  color:black;
  font-size: large;
  text-shadow: 3px 3px 3px white;
  z-index: 1;
  animation:  2s ease-out  1 forwards ;
  position: relative;
  bottom:-50vh;
  left:50vw;
  display:flex;
  width:fit-content;
 

  margin:0;
  
}
@keyframes inward {
    0%{
        z-index: 1;
    }
   99%{
       
        
        font-size: 3rem;
        
    }
    100%{
        visibility: visible;
      
    }
  
}
/* #################################3 IPad ViEW ####################### */

@media only screen and (max-width:900px) and (min-width:420px){
    .container {
        display:grid;
        grid-template-rows: 0.1fr 0.08fr  1fr ;
        grid-template-columns: 1fr;
        width:100vw;
        height: 100%;
      
    }
    .description{
        grid-row:1/1;
        width:99%;
        display:flex;
        flex-direction: column;
        font-size: medium;
        flex-wrap: wrap;
        box-shadow: 1px 2px 3px white;
        border-radius: 10px;
    }
    .showImg {
        width:20px;
        height: 20px;
        border-radius: 40px;
        display:block;
        margin-top:3px;
        animation:1s ease-in  1 linear
        
    }
    .curtain{
        display:flex;
        grid-row:2/2;
        grid-column: 1/1;
        width:97%;
        align-items: center;
      
        border-radius: 40px;
        flex-direction: column;
        font-size: 1rem;
        margin-top: 2px;
       
    }
    .album {
        display: grid;
        grid-template-rows: 1fr 0.5fr;
        grid-template-columns: 1fr;
         grid-row:3/3;
         width:100%;
         grid-column: 1/1;
         
      }
      
      .imagesGroup {
          display:flex;
          grid-row: 2/2;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
        
          
      }
      #albumItem{
          grid-row:1/1;
          width:95%;
          height: 60%;
      }
      
.detailLinks{
    display: grid;
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 1fr;
   grid-row:3/3;
   width:100%;
   grid-column: 1/1;
   
}
.iframeAttr {
    width:95%;
    margin-bottom: 2px;
    grid-row: 1/1;
}
.exLinks {
    font-size: medium;
    grid-row:2/2
}
}
/*      ###############################  MOBILE VIEW #######################   */

@media only screen and (max-width:420px){
  
    .container {
        display:grid;
        grid-template-rows: 0.1fr 0.08fr  1fr ;
        grid-template-columns: 1fr;
        width:100vw;
        height: 100%;
      
    }
.description{
    grid-row:1/1;
    width:99%;
    display:flex;
    flex-direction: column;
    font-size: medium;
    flex-wrap: wrap;
    box-shadow: 1px 2px 3px white;
    border-radius: 10px;
}
.showImg {
    width:20px;
    height: 20px;
    border-radius: 40px;
    display:block;
    margin-top:3px;
    animation:1s ease-in  1 linear
    
}
@keyframes showImg {
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(90deg);
    }
    
}
.descriptionTitle{
    font-size: 0px;
    text-shadow: 2px 2px 2px wheat;
    
}
.description p {
    font-size: 0px;
}
.curtain{
    display:flex;
    grid-row:2/2;
    grid-column: 1/1;
    width:97%;
    align-items: center;
  
    border-radius: 40px;
    flex-direction: column;
    font-size: 1rem;
    margin-top: 2px;
   
}

.flag {
    width:fit-content;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;

    animation: flagGlow 1s linear  infinite alternate-reverse ;

}
@keyframes flagGlow {
    from {
        background: linear-gradient(to right,rgb(145, 145, 64,0.5),transparent);
    }
    to {
        background: linear-gradient(to left,rgb(145, 145, 64),transparent);
    }
}

.sideBtnImg {

    width:30px;
    height: 30px;
    transform: rotateZ(180deg);
  
    border-radius: 30px;
}
.sideBtnImg:active {
    width:40px;
    box-shadow: 3px 4px 5px grey;
}
.album {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 1fr;
   grid-row:3/3;
   width:100%;
   grid-column: 1/1;
   
}

.imagesGroup {
    display:flex;
    grid-row: 2/2;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    
}
#albumItem{
    grid-row:1/1;
    width:95%;
    height: 60%;
}
.albumItem{
    width:50px;
    height: 50px;
    margin:0;
}
.gate {
    width:98vw;
}
.gate1{
    height: 50%;
}
.gate2{
    height: 50%;
}
.csGate {
    width:98vw;
}
.csGate1{
    height: 50%;
    
}
.csGate2{
    height: 50%;
}


.detailLinks{
    display: grid;
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 1fr;
   grid-row:3/3;
   width:100%;
   grid-column: 1/1;
   
}
.iframeAttr {
    width:95%;
    margin-bottom: 2px;
    grid-row: 1/1;
}
.exLinks {
    font-size: small;
    grid-row:2/2
}
.exLinksImg {
    width:25px;
    height: 25px;
   
}
.switchBtn {
    font-size: small;
}
.placeholderBtn{
    font-size: small;
}
}
